@import '../../baseCss/variables.module.scss';
.descriptionPhone {
  display: none;
}

.container {
    
    
    margin-top: 5rem;

    .textBox{
        margin: 2rem 10rem;
    }
    @media only screen and (max-width: 1024px) {
        .textBox {
            margin: 2rem 8rem;
        }
      }
      @media only screen and (max-width: 768px) {
        .textBox {
            margin: 2rem 5rem;
        }
      }
      @media only screen and (max-width: 600px) {
        .textBox {
            margin: .5rem 1rem;
        }
      }
      @media only screen and (max-width: 400px) {
        .textBox {
            margin: .3rem .5rem;
        }
      }

    
    .listText {
        font-size: 1.3rem;
        margin: .5rem 0;
        text-align: justify;
        list-style:none;
    }
    @media only screen and (max-width: 1024px) {
        .listText {
            font-size: 1.1rem;
        }
      }
      @media only screen and (max-width: 400px) {
        .listText {
            font-size: .7rem;
            text-justify:inter-word;
        }
      }
    
    
    .listSpacing {
        margin: 1rem 0;
        margin-left: 1rem;
    }
    @media only screen and (max-width: 400px) {
      .listSpacing {
        margin: 1rem;
          
      }
    }
    
    .listText .listSpacing:before {
        content: "•";
        padding-right: 5px;
        font-size: 1.5rem;
        color: red;
    }
    @media only screen and (max-width: 400px) {
        .listText .listSpacing:before {
            font-size: .6rem;
        }
      }

    .ItalicBold {
        font-weight: bold;
        font-style: italic;
    }
    
    .heading {
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 2rem;
        padding: 1rem;
        color: $color-white;
        background-color: #2E65B2;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
    }
    @media only screen and (max-width: 1024px) {
        .heading {
            font-size: 1.1rem;
        }
      }
      @media only screen and (max-width: 600px) {
        .heading {
            font-size: .9rem;
        }
      }
      @media only screen and (max-width: 400px) {
        .heading {
            font-size: .7rem;
            margin-bottom: 2rem;
        }
      }
    .description {
        text-align: justify;
        text-indent: 3rem;
        font-size: 1.4rem;
    }
    @media only screen and (max-width: 1024px) {
        .description {
            font-size: 1.1rem;
        }
      }
      @media only screen and (max-width: 400px) {
        .description {
            font-size: .6rem;
            text-indent: 1.5rem;
            text-justify:inter-word;
            
        }
      }
    
    p {
        margin-bottom: 1.5rem;
    }
    @media only screen and (max-width: 1024px) {
        p {
            margin-bottom: 1rem;
        }
      }
    
    .image {
        float: left;
        width: 24rem;
        margin-right: 1rem;
        border-radius: 1rem;
        object-fit: cover;
        box-shadow: 10px 10px 16px #222;
    }
    @media only screen and (max-width: 1024px) {
        .image {
          width: 16rem;
        }
      }
      @media only screen and (max-width: 768px) {
        .image {
            width: 14rem;
        }
      }
      @media only screen and (max-width: 400px) {
        .image {
            width: 6rem;
            margin: .5rem;
            box-shadow: 5px 5px 8px #222;
        }
      }
    .BorderRed {
        text-align: center;
        font-size: 1.7rem;
        margin: 1.5rem 0;
        padding: 1rem;
        border: solid red 2px;
        border-radius: 1rem;
    }
    @media only screen and (max-width: 1024px) {
        .BorderRed {
            font-size: 1.1rem;
        }
      }
      @media only screen and (max-width: 400px) {
        .BorderRed {
            padding: .4rem;
            font-size: .6rem;
        }
      }
    .dotsy {
        font-size: 4rem;
        font-weight: bold;
        text-align: center;
        letter-spacing: .5rem;
        
    }
    @media only screen and (max-width: 400px) {
        .dotsy {
            font-size: 2rem;
        }
      }
}
@media only screen and (max-width: 400px) {
  .container {
      margin-top: 2rem;
      
  }
}
@media only screen and (max-width: 400px) {
  .description {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  .descriptionPhone {
    box-shadow: 2px 2px 8px #222;
    display: block;
  }
  .PhoneImg {
    
    height: 57vh;
    width: 100%;
  
    
  }
  .PhoneText {
    margin: .5rem;
    text-align: justify;
    text-indent: 1.5rem;
    font-size: .8rem
  }
}