@import '../../baseCss/variables.module.scss';

.FormContainer {
    display: flex;
    flex-direction: column;
    
    input {
        border-radius: 1rem;
        border: none;
        padding: 12px 20px;
        margin: .5rem 4rem;
        &::placeholder {
            color: $color-grey;
            margin-left: 1rem;
        }
    }
    .TextArea {
        padding: 12px 20px;
        margin: .5rem 4rem;
        height: 10rem;
        border-radius: .2rem;
        border: none;
        &::placeholder {
            color: $color-grey;
        }
    }
    .btn_contact {
            background-color: #202F50;
            border: 0;
            border-radius: 100px;
            box-sizing: border-box;
            color: $color-white;
            font-size: 1rem;
            font-weight: 400;
            padding: 1rem 0;
            text-align: center;
            cursor: pointer;
            margin: .5rem 4rem;
            border-radius: 1rem;

            &:hover,
            &:focus { 
              background-color: #4377C8;
              color: #ffffff;
            }
            
            &:active {
              background: #4377C8;
              color: rgb(255, 255, 255, .7);
            }
            
          }
}
