@import '../../../baseCss/variables.module.scss';
.container {

    margin: 3rem 15rem;

    .textSize {
        font-size: 1.3rem;
    }

    .TitlePart {
        text-align: center;
        font-size: 1.6rem;
        margin: 1.5rem 0;
        padding: 1rem;
        background-color: #2E65B2;
        color: $color-white;
        border-radius: 4rem;
    }
    .description {
        text-align: justify;
        margin: 1rem 0;
    }
    .text {
        text-indent: 3rem;
    }
    .space {
        margin-top: 1.5rem;
    }
    .gain {
        font-weight: bold;
    }
    .BoldItalic {
        font-weight: bold;
        font-style: italic;
    }
    .Italic {
        font-style: italic;
    }
    .Bold {
        font-weight: bold;
    }
    ul {
        list-style: none;
        margin: 1rem 0;
        margin-left: 1rem;
    }
      
    li {
        margin: .5rem 0;
    }
    
      .Tick li:before {
        color: red;
        font-weight: bold;
        content: '✓ ';
      }
      
      .borderRed {
        border: solid red 2px;
      }
    .icon {
        font-size: 3rem;
        padding-top: 1rem;
    }
    .GoldIcon {
        color: gold;
    }
    .centerText {
        text-align: center;
    }
}