@import '../../../baseCss/variables.module.scss';
.container {

    margin: 3rem 15rem;

    .textSize {
        font-size: 1.3rem;
    }

    .TitlePart {
        text-align: center;
        font-size: 1.6rem;
        margin: 1.5rem 0;
        padding: 1rem;
        background-color: #2E65B2;
        color: $color-white;
        border-radius: 4rem;
    }
    @media only screen and (max-width: 768px) {
        .TitlePart {
            font-size: 1.2rem;
        }
      }
      @media only screen and (max-width: 600px) {
        .TitlePart {
            font-size: .9rem;
            padding: .5rem;
            margin: 1rem 0;
        }
      }
      @media only screen and (max-width: 400px) {
        .TitlePart {
            font-size: 0.95rem;
            padding: .5rem;
            margin: 1rem 0;
        }
      }
    .description {
        text-align: justify;
        margin: 1rem 0;
    }
    .text {
        text-indent: 3rem;
    }
    @media only screen and (max-width: 600px) {
        .text {
            font-size: 1.1rem;
        }
      }
      @media only screen and (max-width: 400px) {
        .text {
            font-size: 0.9rem;
            text-indent: 1.5rem;
            text-align: center;
        }
      }
    .space {
        margin-top: 1.5rem;
    }
    @media only screen and (max-width: 600px) {
        .space {
            font-size: 1rem;
        }
      }
      @media only screen and (max-width: 400px) {
        .space {
            font-size: 0.9rem;
            text-align: center;
        }
      }
    .gain {
        font-weight: bold;
    }
    @media only screen and (max-width: 600px) {
        .gain {
            font-size: 1.1rem;
        }
      }
      @media only screen and (max-width: 600px) {
        .gain {
            font-size: 0.9rem;
        }
      }
    .BoldItalic {
        font-weight: bold;
        font-style: italic;
    }
    .Italic {
        font-style: italic;
    }
    .Bold {
        font-weight: bold;
    }
    ul {
        list-style: none;
        margin: 1rem 0;
        margin-left: 1rem;
    }
      
    li {
        margin: .5rem 0;
    }
    @media only screen and (max-width: 600px) {
        li {
            font-size: 1.1rem;
        }
      }
      @media only screen and (max-width: 400px) {
        li {
            font-size: 0.9rem;
        }
      }
    
      .Tick li:before {
        color: red;
        font-weight: bold;
        content: '✓ ';
      }
      
      .borderRed {
        border: solid red 2px;
      }
    .icon {
        font-size: 3rem;
        padding-top: 1rem;
    }
    @media only screen and (max-width: 768px) {
        .icon {
            font-size: 2rem;
        }
      }
      @media only screen and (max-width: 768px) {
        .icon {
            font-size: 1.5rem;
        }
      }
      @media only screen and (max-width: 400px) {
        .icon {
            padding-top: .4rem;
            font-size: 1.2rem;
        }
      }
    .GoldIcon {
        color: gold;
    }
    @media only screen and (max-width: 768px) {
        .GoldIcon {
            font-size: 1rem;
        }
      }
      @media only screen and (max-width: 400px) {
        .GoldIcon {
            font-size: 0.6rem;
        }
      }
    .centerText {
        text-align: center;
    }
    @media only screen and (max-width: 400px) {
        .centerText {
            font-size: 1rem;
        }
      }
}
@media only screen and (max-width: 1024px) {
    .container {
        margin: 3rem 8rem;
    }
  }
  @media only screen and (max-width: 768px) {
    .container {
        margin: 3rem 5rem;
    }
  }
  @media only screen and (max-width: 600px) {
    .container {
        margin: 3rem 2rem;
    }
  }
  @media only screen and (max-width: 400px) {
    .container {
        margin: 1.5rem 2rem;
    }
  }