@import '../../../baseCss/variables.module.scss';
.btn {
  background-color: #202F50;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: $color-white;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1.2rem 2.2rem;
  text-align: center;
  cursor: pointer;
  
  position: absolute;
  top: 93%;
  left: 41%;

  &:hover,
  &:focus { 
    background-color: red;
    color: #ffffff;
  }
  
  &:active {
    background: red;
    color: rgb(255, 255, 255, .7);
  }
  
}
@media only screen and (max-width: 1024px) {
  .btn {
    top: 92%;
  }
}
@media only screen and (max-width: 768px) {
  .btn {
    top: 91%;
  }
}
@media only screen and (max-width: 600px) {
  .btn {
    transform: scale(0.8);
  }
}


