@import '../../../../baseCss/variables.module.scss';
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 20rem;

    li {
        padding: 1rem 0;
    }
}