@import '../../baseCss/variables.module.scss';
.header {
    background-image: 
    linear-gradient(
        to right bottom,
        rgba($color-secondary-dark, 0),
        rgba($color-secondary-light, 0)),
        url(../../img/grafika.png);
        height: 60vh;
        background-size: 100% 100%;
        position: relative;
        &_text_box {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            width: 40rem;
            text-shadow: $color-black 15px 5px 10px;
            
        }

}
.heading_primary {
    color: $color-white;
    backface-visibility: hidden;
    margin-bottom: 1rem;

    &_main {
        display: block;
        font-size: 3.5rem;
        font-weight: 700;
    }
}
 .par {
    display: block;
    backface-visibility: hidden;
    color: $color-white;
    font-size: 2rem;
 }