@import "../../baseCss/variables.module.scss";
@import url("https://fonts.googleapis.com/css2?family=Amarante&family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+SC&family=Amarante&family=Prata&display=swap");
.header {
  background-image: linear-gradient(
      to right bottom,
      rgba($color-secondary-dark, 0),
      rgba($color-secondary-light, 0)
    ),
    url(../../img/Main.png);
  height: 70vh;
  background-size: 100% 100%;
  position: relative;
  &_text_box {
    text-transform: uppercase;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 55%;
    left: 57%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 40rem;
  }
  
  @media only screen and (max-width: 768px) {
    &_text_box {
        width: 20rem;
    }
  }
  @media only screen and (max-width: 600px) {
    &_text_box {
        top: 55%;
    left: 60%;
    }
  }
  @media only screen and (max-width: 400px) {
    &_text_box {
        width: 13rem;
        top: 40%;
    left: 65%;
    }
  }
  .heading_primary {
    color: $color-white;
    backface-visibility: hidden;
    margin-bottom: .5rem;

    &_main {
      font-family: "Alegreya SC";
      font-size: 3.5rem;
      
    }
    @media only screen and (max-width: 1024px) {
      &_main {
        font-size: 2rem;
      }
    }
    @media only screen and (max-width: 768px) {
        &_main {
          font-size: 1.6rem;
        }
      }
    @media only screen and (max-width: 600px) {
        &_main {
          font-size: 1.5rem;
        }
      }
      @media only screen and (max-width: 400px) {
        &_main {
          font-size: .7rem;
        }
      }
      @media only screen and (max-width: 375px) {
        &_main {
          font-size: 0.65rem;
        }
      }
  }
  @media only screen and (max-width: 400px) {
    .heading_primary {
      font-size: .85rem;
      margin-bottom: .2rem;
    }
  }

  .par1 {
    color: $color-white;
    font-size: 2rem;
    font-family: "Amarante";
  }
  @media only screen and (max-width: 1024px) {
    .par1 {
      font-size: 1.5rem;
    }
  }
  @media only screen and (max-width: 768px) {
    .par1 {
      font-size: 1.2rem;
    }
  }
  @media only screen and (max-width: 400px) {
    .par1 {
      font-size: .7rem;
    }
  }
  @media only screen and (max-width: 375px) {
    .par1 {
      font-size: .65rem;
    }
  }
  .par2 {
    color: $color-white;
    font-size: 3rem;
    font-family: "Alegreya SC";
  }
  @media only screen and (max-width: 1024px) {
    .par2 {
      font-size: 2rem;
    }
  }
  @media only screen and (max-width: 768px) {
    .par2 {
      font-size: 1.5rem;
    }
  }
  @media only screen and (max-width: 400px) {
    .par2 {
      font-size: .8rem;
    }
  }
  
  .par3 {
    color: $color-white;
    font-size: 2rem;
    font-family: "Amarante";
  }
  @media only screen and (max-width: 1024px) {
    .par3 {
      font-size: 1.5rem;
    }
  }
  @media only screen and (max-width: 768px) {
    .par3 {
      font-size: 1.2rem;
    }
  }
  @media only screen and (max-width: 400px) {
    .par3 {
      font-size: .7rem;
    }
  }
  
  .par4 {
    color: $color-white;
    font-size: 3rem;
    font-family: "Alegreya SC";
  }
  @media only screen and (max-width: 1024px) {
    .par4 {
      font-size: 2rem;
    }
  }
  @media only screen and (max-width: 768px) {
    .par4 {
      font-size: 1.5rem;
    }
  }
  @media only screen and (max-width: 400px) {
    .par4 {
      font-size: .8rem;
    }
  }
  .logo {
    position: absolute;
    top: 30%;
    left: 77%;
    
    .logoImage {
      width: 20rem;
      height: 20rem;
    }
    
    @media only screen and (max-width: 1024px) {
      .logoImage {
        width: 9rem;
        height: 9rem;
      }
    }
    @media only screen and (max-width: 768px) {
        .logoImage {
          width: 8rem;
          height: 8rem;
        }
      }
      @media only screen and (max-width: 400px) {
        .logoImage {
            width: 3.5rem;
            height: 3.5rem;
        }
      }
    
  }
  @media only screen and (max-width: 1024px) {
    .logo {
      top: 50%;
      left: 80%;
    }
  }
  @media only screen and (max-width: 600px) {
    .logo {
      top: 70%;
      left: 50%;
    }
  }
  @media only screen and (max-width: 400px) {
    .logo {
      top: 60%;
      left: 55%;
    }
  }
}
@media only screen and (max-width: 400px) {
    .header {
      height: 40vh;
      
    }
  }
