@import '../../baseCss/variables.module.scss';
.container {
    padding-bottom: .5rem;
    background-color: $color-bar;
    height: 30vh;
    .nav ul {
        list-style: none;
        display: flex;
        justify-content: center;
        padding-top: 3rem;
      }
      
      .nav li {
        margin-left: 1.5rem;
        font-size: 1.2rem;
      }
      
      .nav a {
        text-decoration: none;
        color: $color-white;
      }
      
      .nav a:hover,
      .nav a:active,
      .nav a.active {
        color: #f23434;
      }
      .description_text {
        text-align: center;
        margin: 2rem 30rem;
        color: $color-white;
        font-size: .9rem;
      }
  }
