@import '../../../baseCss/variables.module.scss';
.container {
    margin: 0 15rem;
    padding: 0 15rem;
    margin-top: 2rem;
    
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
    border-bottom: .1rem #2E65B2 solid;
    
    .TextBox {
        display: flex;
        flex-direction: column;
    justify-content: center;
    align-items: center;
    
    }
    
    .Name {
        padding: 1rem 0;
        font-size: 2rem;
    }
    .description{
        text-align: justify;
        font-size: 1.5rem;
        
       
    }
    .star {
        color:gold;
        font-size: 2rem;
    }

}
