@import '../../../baseCss/variables.module.scss';
.btn {
  background-color: #202F50;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: $color-white;
  font-size: 1rem;
  font-weight: 400;
  padding: 2rem 3rem;
  text-align: center;
  cursor: pointer;

  &:hover,
  &:focus { 
    background-color: #4377C8;
    color: #ffffff;
  }
  
  &:active {
    background: #4377C8;
    color: rgb(255, 255, 255, .7);
  }
  
}



